<h1> Albums </h1>

<h2> Albums to sell </h2>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li>
        <a href="/albums/<%=album.id%>">
          <%= album.name %>
        </a>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>All sold</p>
<% end %>

<a href="/albums/new">Add new album</a>


<h2> Sold Albums</h2>

<% if @albums_sold.any? %>
  <ul>
    <% @albums_sold.each do |album| %>
      <li>
          <%= album.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nothing to show yet</p>
<% end %>

